body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    box-sizing: border-box;
  }


  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: auto;
    align-items: center;
  }

  .header {
    text-align: center;
    align-content:inline;
    justify-content: space-between;
    margin: 0 10px;
  
  
  }
.password-container{
    width: 400px;
    position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: black;
  }

  h1 {
    color: rgba(4, 102, 180, 1);
    position: flex;
    top: 1px;
    /* left: 50px; */
    font-family: Lato;
    font-weight: ExtraBold;
    font-size: 44px;
    opacity: 1;
    text-align: center;
    margin-top: 20%;
    left: 550px;
  }
  
  
  .text {
    text-align: center;
    margin-bottom: 4%;
    position: relative;
    /* width:172px; */

  }
  .input-group{
    margin-bottom: 10px;
  }
  label {
    padding:10px;
    pointer-events: none;
    top: 0;
    bottom: 0;
    position:relative;
    display: flex;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: #fff;
  }


img{
position: absolute;
width: 42.27px;
height: 42.27px;
/* right: 105px; */
left: 550px;


}



/* hhdhdhdhdggcgfkck */

/* div.input-block {
    position: relative;
  } */
  div.input-block input {
    font-weight: 500;
    font-size: 1.6rem;
    color: #495055;
    width: 350px;
    padding: 15px 15px;
    border-radius: 1rem;
    border: 2px solid  #D9D9D9;
    outline:none;
  }
  div.input-block span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    color:  #6c757d;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
  }
  /* div.input-block input:valid + span.placeholder,
  div.input-block input:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
    background: #fff;
  }
  div.input-block input:focus{
    color: #284B63;
    border-color: #284B63;
  }
  div.input-block input:focus + span.placeholder {
    color: #284B63;
  } */
  
  
  
  
  /* input {
    padding:10px;
  width: 500px;
  height: 50px;
  left: 553px;
  top: 347px;
  border-radius: 5px
  }
  
  
  input:focus + label, input:not(:placeholder-shown) + label {
    opacity:1;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
  }
  
  
  button{
    color: blue;
    size: 25cap;
  }
   */